@font-face { font-family: THSarabunNew; src: url("../font/THSarabunNew.ttf");}
@font-face { font-family: THSarabunNewBold; src: url("../font/THSarabunNew Bold.ttf");}

body {
  padding: 50px;
	font-family:	"THSarabunNew";
	font-size: 24px;
}

a {
  color: #00B7FF;
}
